@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}


.adminBody{
    font-family: 'Open Sans', sans-serif;
    background: #f5f4f4;
}

.container{
    max-width: 1340px !important;
}

a {
    color: #3e3d3d;
    text-decoration: none;
}

a:hover,
a:focus{
    text-decoration: none;
    color: #000;
}

.breadcrumb {
    background-color: transparent !important;
    padding: 0;
}

.breadcrumb a {
    color : white;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

.table-responsive {
    overflow: scroll;
    padding-bottom: 10px;
}


.wrapper {
    margin : 10px;
}

.wrapper .top_navbar{
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position:fixed;
    z-index: 999;
    top:10px;
}

.wrapper .top_navbar .hamburger {
    width: 70px;
    height: 100%;
    background: #3e3d3d;
    padding: 15px 17px;
    border-top-left-radius: 20px ;
    cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
    width: 35px;
    height: 4px;
    background: white;
    margin: 5px 0;
}


.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.wrapper .top_navbar .top_menu .logo {
    color: #3e3d3d;
    font-size: 20px;
    font-weight: bolder;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li {
    display: block;
    margin: 10px 10px;
}

.wrapper .sidebar{
    position: fixed;
    top:70px;
    left: 10px;
    background: #3e3d3d;
    width: 200px;
    height: calc(100% - 80px);
    transition: all 0.3s ease;
}

.wrapper .sidebar ul li {
    list-style-type: none;
}

.wrapper .sidebar ul li a {
    margin-left: -40px;
    display: block;
    padding: 20px;
    color: white;
    position: relative;
    margin-bottom: 1px;
}

.wrapper .sidebar ul li a:hover {
    background: white;
    color: #3e3d3d;
}

.wrapper.toggle .sidebar {
    width: 0px;
}

.wrapper.toggle .sidebar ul li a {
    text-align: center;
    display: none;
}

.wrapper .main_container{
    width: calc(100% - 200px);
    margin: 70px;
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
}

.wrapper .main_container .item {
    background: white;
    padding: 20px;
}

.wrapper.toggle .main_container{
    width: calc(100% - 10px );
    margin-left: 10px;
}



#mainNav {
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    border: none;
    outline: none;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 14px;
    color: #666666;
    font-weight: bolder;
    letter-spacing: 1px;
}

ul.nav.navbar-nav > li > a {
    display: none;
}

@media only screen and (min-width: 992px) {
    #mainNav {
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        height: 80px;
    }
    #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #000;
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    #mainNav .navbar-nav > li.nav-item > a {
        padding: 10px 18px;

    }
    #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
        color: #000000;
    }

    ul.nav.navbar-nav > li > a {
        display: block;
        font-size:18px;
        padding-left: 10px;
        color: #666666;
    }


    ul.nav.navbar-nav > li > a:hover {
        padding-left: 10px;
        color: #000000;
    }
}


.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}


.not-found h1 {
    color: #3e3d3d;
    font-size: 60px;
    font-weight: bolder;
}

/* custom */


.btn-custom {
    color: #cecece;
    background-color: #3e3d3d;
    font-size: 13px;
    padding: 8px 15px;
    border-radius: 0;
    transition: all 1s ease ;
}

.btn-custom:hover {
    color: #fff;
    background: black;
}


@media
only screen
and (max-width: 760px), (min-device-width: 768px)
and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

/* sections */
.about h1,
#service h1,
#aditional h1,
#contact h1{
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}

.about h6,
#service h6,
#aditional h6,
#contact h6{
    font-size: 16px;
    font-style: italic;
    color: #3e3d3d;
}

.about p,
#service p,
#aditional p,
#contact p{
    font-size: 14px;
    color: #666666;
}


#about .images img {
    max-height: 350px;
}

/* services */


#service .single-box{
    padding: 20px;
    transition: all 0.5s ease 0s;
    border: 2px solid #fff;
    height: 350px;
    margin: 10px 0px;

}

#service .services .service-image img {
    display: none;
}

#service .service-two {
    padding: 20px;
    background:  #f5f4f4;
    margin-bottom: 10px;
}

@media only screen and (min-width: 992px) {

    #service .service-two {
        padding: 20px;
        background:  #f5f4f4;
        margin-left: -25px;
    }

    #service .services .service-image img {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        height: 350px;
    }

}

#service .service-two h3{
    color: #040404;
    font-size: 18px;
    font-weight: bolder;
}

#service .service-two h2 {
    font-size: 30px;
    color: #444444;
    font-weight: bolder;
}



#service .services .service-two p{
    font-size: 13px;
    display: block;
}

#service .single-box h3{
    font-size: 18px;
    font-weight: bolder;
    position: relative;
    color: #040404;
    top:230px;
    transition: all 700ms cubic-bezier(0.65,-0.50, 0.255, 1.50) 0s;
}

#service .single-box:hover h3{
    top:-50px;
}

#service .single-box h2{
    position: relative;
    font-size: 30px;
    color: #444444;
    font-weight: bolder;
    top:230px;
    transition: all 0.5s ease;
}

#service .single-box:hover h2 {
    opacity: 0;
}


#service .single-box p {
    opacity: 0;
    font-size: 13px;
    position: relative;
    top: -50px;
    transition: all 700ms cubic-bezier(0.65,-0.50, 0.255, 1.50) 0s;
}

#service .single-box:hover p {
    opacity: 1;
}


.box{
    padding:0px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:10px 0px;
    height: 300px;
}
.text{
    margin:20px 0px;
}

.button-box {
    text-align:center;
    margin-top:20px;
}

.plus {
    display:inline-block;
    width:50px;
    height:50px;

    background:
        linear-gradient(#fff,#fff),
        linear-gradient(#fff,#fff),
        #3e3d3d;
    background-position:center;
    background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
}

.radius {
    border-radius:50%;
}

.plus:hover {
    display:inline-block;
    width:50px;
    height:50px;

    background:
        linear-gradient(#fff,#fff),
        linear-gradient(#fff,#fff),
        #000;
    background-position:center;
    background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
}

/* about */

.about{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

#about .images {
    display: block;
}

@media (min-width: 768px) and (max-width: 1089px) {
    #about .img1 {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #about .images {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    #about {
        padding-top: 30px;
    }

    .about{
        padding-left: 70px;
        padding-top: 60px;
    }

    #contact h6 {
        padding-bottom: 20px;
    }
}

/*  aditional */

#aditional {
    overflow: hidden;
}

#aditional .aditional-item {
    border: 3px solid #3e3d3d;
    padding: 10px 8px;
    margin-bottom: 10px;
    text-align: center;
    color: #3e3d3d;
    font-weight: bolder;
    transition: all 0.5s ease;
}

#aditional .aditional-item:hover {
    border: 3px solid #3e3d3d;
    background: #3e3d3d;
    color: white;
}

.grey {
    background: #f5f4f4;
}

.footer-form {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}




@media only screen and (min-width: 992px){

    .footer-form {
        margin-left: -15px;
        margin-right: -15px;
        min-height: 450px;
        padding-left: 85px;
        padding-top: 80px;
    }

    #aditional .aditional-item {
        margin-bottom: 25px;
    }


}


/* login */

.login-box {
    height: 60vh;
}

.login-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color:black;
}


/* form */
.login-box input:focus,
footer input:focus{
    outline: none;
    box-shadow: 0 0 0;
}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"],
footer input[type="text"],
footer input[type="email"],
footer input[type="password"]{
    border: none;
    border-bottom: 2px solid #666666;
    border-top: 0;
    border-radius: 0;
    outline: 0;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 0;
    color:#000;
}



.login-box .form-control,
footer .form-control{
    border: none;
    border-bottom: 2px solid #666666;
    border-top: 0;
    border-radius: 0;
    outline: 0;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 0;
    color:#000;
}

.form-control-label,
.form-check-label
{
    font-size: 15px;
    color:#666666;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-box .form-control:focus,
footer .form-control:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #000;
    outline: 0;
    color:#000;
}


.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid black;
}


#submenu {
    display: none;
    transition: all 0.3s ease;
}




